body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  margin: 0;
  padding: 20px;
}



.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}


.card {
  width: 300px;
  height: 420px;
  perspective: 1000px;
}

.frente-tarjeta {
  width: 100%;
  height: 100%;
  gap: 40px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.card.flipped .frente-tarjeta {
  transform: rotateY(180deg);
}

.trasera-tarjeta, .detras-tarjeta {
  position: absolute;
  width: 100%;
  
  height: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  backface-visibility: hidden;
  overflow: hidden;
}

.trasera-tarjeta img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.trasera-tarjeta, .detras-tarjeta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.trasera-tarjeta .title {
  font-weight: bold;
  font-size: 1.2em;
}

.trasera-tarjeta .description {
  font-size: 0.9em;
  flex-grow: 1;
  margin-top: 10px;
}

.detras-tarjeta {
  transform: rotateY(180deg);
  overflow-y: auto;
}

.detras-tarjeta::-webkit-scrollbar {
  width: 6px;
}
.detras-tarjeta::-webkit-scrollbar-thumb {
  background: #007bff;
  border-radius: 10px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

button {
  border: none;
  background: #007bff;
  color: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
